$font-size-base:              1rem !default;
$close-font-size:                   $font-size-base * 1.5 !default;
$alert-padding-y:                   .75rem !default;
$alert-padding-x:                   1.25rem !default;

.alert-dismissible {
  padding-right: ($close-font-size + $alert-padding-x * 2);

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}
